In [1]:
pwd

'C:\\Users\\Ogwumike\\Desktop\\Hiit\\Data Analysis\\Weekend_Excel\\python\\Intro'

In [2]:
x = 5 
z = 3

In [3]:
y = 'John' #string

In [4]:
#Indentation is used for code blocks 

def addNos():
  return a + b

In [5]:
#Sequence types 

#strings "... " or '...' 
#lists [... ] 
#Tuples ( ... )

In [6]:
# Code sammple 

x = 40 - 15 # comment 
y = "Hello" # a string 
z = 3.132

if z == 3.142 or y == "Hello":
    x = x + 1
    y = y + "world"  # string concatenation 
print(x)
print(y)

26
Helloworld

In [7]:
x = 40 - 15 # comment 
y = "Hello" # a string 
z = 3.132

if z == 3.142 and y == "Hello":
    x = x + 1
    y = y + "world"  # string concatenation 
print(x)
print(y)

25
Hello

In [8]:
#integers : whole numbers 
z = 5 / 2 # regular division 

z = 5 // 2 # integer division 
print(z)

2

In [9]:
# basic type checking using 'type'

print(type(z))
print(type(x))
print(type(y))

<class 'int'>
<class 'int'>
<class 'str'>

In [10]:
#Strings
x = "Hello"
y = 'John'
z = "James' brother"
long_string = """ This is a long string with 
                a lot of info"""

print(type(x), type(y), type(z))

<class 'str'> <class 'str'> <class 'str'>

In [11]:
if 5 > 2:
    print("five is greater than two")
if 5 > 2:
         print("five is greater than two")

five is greater than two
five is greater than two

In [12]:
if 5 > 2:
    print("five is greater than two")
          print("five is greater than two")

IndentationError: unexpected indent (<ipython-input-12-3ac6686fc111>, line 3)

In [ ]:
# use this keyword, 'input' to get input from users 

username = input("Enter username:")
print("You entered = " + username)

In [ ]:
username? #gives extra info about variables

In [ ]:
#12ny_name = "Jonathan"

my_name = "Jonathan"
# age, Age, AGE are all different ariable names

In [ ]:
age = 50
print(Age)

In [ ]:
#Global variables and Local variables 

def myFunc():
    x = "Jonathan"  # local variable 
    print("Welcome " + x)
    print(x)
    
print(x) # x as Jonathan doesn't exist in the Global scope 
myFunc()

In [ ]:
y = "awesome" # global variable 

def myFunc2():
    global y  # forces the variable to become global even though
             #it is within the function scope 
    y = "lame"
    print("Python is " + y)

myFunc2()
print(y)

In [ ]:
myFunc2?

In [ ]:
def addNos(a,b):
    """
    This function adds two nos together 
    """
    return a + b

In [ ]:
addNos?

In [ ]:
a = "John"
a.upper()
a.lower()

b = 40

In [ ]:
getattr(a, 'split')

In [ ]:
#Imports 
# A module is a file with the .py 
# extension containing python code 

import some_functions

In [ ]:
result = some_functions.f(5) 
# f is a function from the imported module

In [ ]:
print(result)

In [ ]:
# PI is a variable from the imported module
pi = some_functions.PI

print(pi)

In [ ]:
import some_functions as sm

In [ ]:
addNos = sm.g(5,6)

print(addNos)

In [ ]:
#Practise 

#1. Write a function to calculate the area of a triangle 
    #( 1/2 * base * height)
#2. Write a function to convert farenheit to celcius degrees 
    #( 5/9 * Farenheit - 32)

In [13]:
#Q1
def areaOfTriangle(base, height):
    return (1/2 * base * height)

In [14]:
print(areaOfTriangle(10, 15))

75.0

In [15]:
def temp(f):
    return ( 5/9 * (f -32))

In [16]:
print(temp(100))

37.77777777777778

In [17]:
# If statements
x = 5

if x == 3:
    print("X equals 3")
elif x == 2:
    print("X equals 2")
else:
    print("X equals something else")

X equals something else

In [18]:
# loops 
#while loop

x = 3

while x < 5:
    print(x, " still in the loop")
    x = x + 1

3  still in the loop
4  still in the loop

In [19]:
# break and continue keywords are used with loops 

x = 20

total = 0

while x > 0:
    print(x, "loop is running")
    if total < 10:
        break
    total += x
    x = x + 1

20 loop is running

In [20]:
# For loop

seq = [1,2,3, None, 4, None, 5]
total = 0

for val in seq:
    if val is None:
        break
    total += val
print(total)

6

In [21]:
#Primitive Data Types 
#Strings 
x = "John"

#Numbers 
#Integer
y = 12

#float
z = 3.142

#boolean
# True or false

In [27]:
#Collection Types 

#Lists 
#can hold anythin but is mutable 
name = ["john", "jonathan", "kemi", "prince", "victor", x, y,z]

#Tuples
#can hold anything but is immutable 
className = ("data analysis", "hiit", 2021)

#Dictionaries (dict)
#stores a mapping between a set of keys and a set of values 

person = {"fname":"John", "lname": "Doe", "age": 25}

#Sets
#unordered and unindexed 
fruits = {"apple", "banana", "grape"}

In [24]:
name

['john', 'jonathan', 'kemi', 'prince', 'victor', 'John', 12, 3.142]

In [26]:
className

('data analysis', 'hiit', 2021)

In [28]:
person

{'fname': 'John', 'lname': 'Doe', 'age': 25}

In [29]:
hello = "Hello World"
hello

'Hello World'

In [30]:
#string methods 

#String length
#use the len() function

print(len(hello))

11

In [32]:
print(hello[1:5])

ello

In [33]:
print(hello[1:8])

ello Wo

In [35]:
#strip() method removs any whitespace from the beginning or the end

a = " Python is fun!  "

print(a)
print(a.strip())

 Python is fun!
Python is fun!

In [38]:
#lower() and upper(), capitalize() methods 
#converts the sring to either lowercase or uppercase 

print(a.lower())
print(a.upper())
print(a.strip().capitalize()) #chaining methods

 python is fun!
 PYTHON IS FUN!
Python is fun!

In [40]:
#replace() method replaces a string with another string 
hello 

print(hello.replace("H", "Y"))

Yello World

In [42]:
#split() method. Splits the string into sub strings 
hello
print(hello.split(" "))

['Hello', 'World']

In [46]:
#Check String 
#check if a certain character or phrase is 
#present in a string

txt = "Welcome to data analysis using python!"

#do I have the word 'mat' in the string above ?

ispresent = "mat" in txt

ispresent2 = "dat" in txt

ispresent3 = "excel" not in txt

print(ispresent)
print(ispresent2)
print(ispresent3)

False
True
True

In [47]:
#Exercise 
#1 Create a sentence using 3 different variables,
# name, address, job 

#2 Seperate the following words into syllables 

#a. "Cascade" #b. "Originality" #c. "vis-a-vis"

#use any seperator of your choice

In [50]:
#Solution
#Q1.
name = "Jonathan"
address = "27 Awolowo Way, Ikeja"
job = "Instructor"

sentence = name + ", "+ address + " "+  job

print(sentence)

Jonathan, 27 Awolowo Way, Ikeja Instructor

In [53]:
#Solution
#Q2

x = "Cascade"

print(x[0:3], x[3:])

Cas cade

In [54]:
#String Format 
#problem
age = 35
txt = "My name is John, I am " + age

print(txt)

TypeError: can only concatenate str (not "int") to str

In [55]:
#string format 
#we can combine strings and numbers using the 
#format() method 

age = 35
txt = "My name is John, I am {}" 

print(txt.format(age)) #format will take unlimited no of args

My name is John, I am 35

In [56]:
#string format 
#example 2
quantity = 3
itemNo = 101
price = 1500

myorder = "I want {} pieces of item {} for {} naira"

print(myorder.format(quantity, itemNo, price))

I want 3 pieces of item 101 for 1500 naira

In [58]:
#specify where you want the variables to be placed 
#by using index no {0}

quantity = 3
itemNo = 101
price = 1500

myorder = "I want to pay {2} naira for {0} pieces of item {1}"

#format(index_0,index_1, index_2)
print(myorder.format(quantity, itemNo, price))

I want to pay 1500 naira for 3 pieces of item 101

In [59]:
#Numbers 
#int 
#float
#complex

#examples 
x = 1 #int
y = 2.3 #float
z = 5j #complex

In [62]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [65]:
#int
x = 1233485963223
y = -3456

#float
q = 1.10
a = 2.0
w = -23.456

In [66]:
#type conversion 
#float to integer
n = int(w)
print(n, type(n))

-23 <class 'int'>

In [67]:
import some_functions

In [68]:
some_functions.PI

3.142

In [69]:
#Built In Modules 
# random is a built in module

import random

In [73]:
randomNumber = random.randrange(0,10)

print(randomNumber)

1

In [78]:
#LISTS : Mutable 
li = ["abcd", 25, 45, 2.34]

li[1]

li

li[2] = 80 # we can change values in the list

li

['abcd', 25, 80, 2.34]

In [81]:
#TUPLE : Immutable 

t = (24, "xyz", 3.142, 43, 75)

t

t[2]

t[3] = 2.5

TypeError: 'tuple' object does not support item assignment

In [82]:
t = (23, 45, "abc")

In [96]:
# LIST METHODS 

#append 
thislist_empty = []

thislist_empty

thislist = ["apple", "grape", "orange", "lime"]

thislist

thislist.append("pawpaw")

thislist

['apple', 'grape', 'orange', 'lime', 'pawpaw']

In [87]:
print(thislist[-1]) #prints the last value

pawpaw

In [89]:
#check if an item exists in a list 

if "45" in thislist:
    print("Yes!")
else:
    print("No!")

No!

In [90]:
thislist

['apple', 'grape', 'orange', 'lime', 'pawpaw']

In [91]:
thislist.insert(2, "lemon")

thislist

['apple', 'grape', 'lemon', 'orange', 'lime', 'pawpaw']

In [92]:
#remove items a list use: del, remove, pop, clear()

#remove
thislist.remove("lime")

thislist

['apple', 'grape', 'lemon', 'orange', 'pawpaw']

In [93]:
#pop: removes the last value in a list 

thislist.pop()

thislist

['apple', 'grape', 'lemon', 'orange']

In [94]:
#del : specify the index no to delete

del thislist[0]

thislist

['grape', 'lemon', 'orange']

In [95]:
#clear() : this will wipe out the list 

thislist.clear()

thislist

[]

In [97]:
thislist

['apple', 'grape', 'orange', 'lime', 'pawpaw']

In [98]:
list1 = thislist 
#this is a copy of the reference to thislist 
#this is not a true copy of thislist

In [100]:
list1.append("pepper")

In [101]:
list1

['apple', 'grape', 'orange', 'lime', 'pawpaw', 'pepper']

In [102]:
thislist

['apple', 'grape', 'orange', 'lime', 'pawpaw', 'pepper']

In [103]:
#to make a true copy use the copy() function

list2 = thislist.copy()

In [104]:
list2

['apple', 'grape', 'orange', 'lime', 'pawpaw', 'pepper']

In [106]:
list2.pop()

'pawpaw'

In [107]:
list2

['apple', 'grape', 'orange', 'lime']

In [108]:
thislist

['apple', 'grape', 'orange', 'lime', 'pawpaw', 'pepper']

In [109]:
#Add lists together 
list3 = list1 + list2

print(list1)
print('-'*30)
print(list2)
print('-'*30)
print(list3)
print('-'*30)

['apple', 'grape', 'orange', 'lime', 'pawpaw', 'pepper']
------------------------------
['apple', 'grape', 'orange', 'lime']
------------------------------
['apple', 'grape', 'orange', 'lime', 'pawpaw', 'pepper', 'apple', 'grape', 'orange', 'lime']
------------------------------

In [110]:
#Exercise 
# The farm problem
"""A farmer breeds 3 different species of animals and wants you to calculate the total number of legs of all the animals when given the number of each specie present on the farm. Species: chickens, cows, pigs Number: 100, 20, 40

Write a function to return the total number of animal legs in the farm."""

'A farmer breeds 3 different species of animals and wants you to calculate the total number of legs of all the animals when given the number of each specie present on the farm. Species: chickens, cows, pigs Number: 100, 20, 40\n\nWrite a function to return the total number of animal legs in the farm.'

# function definition

In [111]:
#def functionName():
    #block of code

#Example
    #write a function to add 2 nos 
def addNos(no1, no2):
    return no1 + no2

print(addNos(3, 5))

8

In [116]:
#Solution to Farmers problem

chicken = 200
pigs = 25
cow = 30

def totalLegs(chics, cows, pigs):
    nosChickenLegs = 2 * chics
    nosCowLegs = 4 * cows
    nosPigLegs = 4 * pigs
    
    total = nosChickenLegs + nosCowLegs + nosPigLegs
    
    return total

print("Total no of legs on the farm: ",totalLegs(100,20,40))

Total no of legs on the farm:  440

In [119]:
print(totalLegs(chicken, cow, pigs))

620