In [1]:
import numpy as np
import pandas as pd

In [2]:
#PANDAS - Python for Data Analysis

In [3]:
#Series and Dataframes

In [4]:
s = pd.Series([2,3,4,5,7,np.nan,8,9])

In [5]:
s

0    2.0
1    3.0
2    4.0
3    5.0
4    7.0
5    NaN
6    8.0
7    9.0
dtype: float64

In [6]:
#Dataframe
#create a random normal distribution
# np.random.randn
arr = np.random.randn(6,4)
arr

array([[ 1.44694878,  0.00851841,  0.25330841,  0.14662191],
       [ 0.40895845, -1.02098381,  1.69149685, -0.230751  ],
       [-1.65141781, -0.20975694, -0.10712832,  0.79297578],
       [-0.42009093, -0.0386184 , -0.56676811,  0.78878913],
       [ 0.29639494,  0.27397426,  0.19950546, -0.14466514],
       [-0.8578364 , -0.21917472,  0.92828436, -0.3522054 ]])

In [7]:
df = pd.DataFrame(arr)

In [8]:
df

          0         1         2         3
0  1.446949  0.008518  0.253308  0.146622
1  0.408958 -1.020984  1.691497 -0.230751
2 -1.651418 -0.209757 -0.107128  0.792976
3 -0.420091 -0.038618 -0.566768  0.788789
4  0.296395  0.273974  0.199505 -0.144665
5 -0.857836 -0.219175  0.928284 -0.352205

In [9]:
#Create a date range 
dates = pd.date_range("20210201", periods=6)
dates

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05', '2021-02-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df2 = pd.DataFrame(arr, index=dates, columns=list('ABCD'))

In [11]:
df2

                   A         B         C         D
2021-02-01  1.446949  0.008518  0.253308  0.146622
2021-02-02  0.408958 -1.020984  1.691497 -0.230751
2021-02-03 -1.651418 -0.209757 -0.107128  0.792976
2021-02-04 -0.420091 -0.038618 -0.566768  0.788789
2021-02-05  0.296395  0.273974  0.199505 -0.144665
2021-02-06 -0.857836 -0.219175  0.928284 -0.352205